.linha-base-pedido
{
    display: flex;
    justify-content: space-between;
}

.conjunto-botao-pedido
{
    display: flex;
    align-self: flex-end;
    width: 30%;
    justify-content: space-between;
}

.painel-content
{
    display: flex;
    margin-top: 20px;
}

.botao-pedido
{
    width: 50%;
    text-align: justify;
    align-content: initial;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    padding: 5px 5px 0 5px;
    box-shadow: 0px 1px 2px #888;
    border-radius: 10px;
    cursor: pointer;
}

.imagem-pedido
{
    width: 100px;
    height: 100px;
    min-width: 100px;
    min-height: 100px;
    background-size: 100% 100%;
}

.tabela-pedido
{
    width:60%;
    box-shadow: 0px 1px 2px #888;
    border-radius: 10px;
}

.tabela-pedido > .table > tbody > tr:nth-child(2n)
{
    background-color: #00519629;
}



.tabela-pedido > .table > tbody > tr > td
{
    vertical-align: middle;
    padding: 5px;
}